<li id="post-<%= i._id%>">
    <p>
        <%if(locals.user && (i.user.id==locals.user.id)){%>
            <a class="delete-post-button" href="/post/deletePost/<%= i._id%>">X</a>
            <%}%>
                <small>Posted by:<%= i.user.name%></small>
                <small>
                    <%= i.content%>
                </small>
                <h3>Comments</h3>
                <div class="comments-container-<%= i._id%>">
                    <ul>
                        <%for(j of i.comments){%>
                            <%- include('_commets')%>
                        <%}%>
                    </ul>
                </div>
    </p>
    <div class="post-comments">
        <ul>
            <%if(locals.user){%>
                <form action="/comments/create" id="new-comment-form" method="POST">
                    <input type="text" name="content" placeholder="Enter comments here">
                    <input type="hidden" name="postId" id="postId" value="<%=i._id%>">
                    <input type="submit" value="Submit">
                </form>
            <%}%>
        </ul>
    </div>
</li>