<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <div class="codeial-home">
            <h1>
                codial <%=title%>
            </h1>
            <section id="feed=posts">
                <h4>Posts</h4>
                <%if(locals.user){%>
                <form action="/post/create" method="post">
                    <textarea name="content" id="" cols="30" rows="3" placeholder="Type Post"></textarea>
                    <input type="submit" value="Post">
                </form>
                <%}%>
                <div>
                    <%for(let i of Posts_list){%>
                        <p>
                            <small>Posted by:<%= i.user.name%></small>
                            <small><%= i.content%></small>
                            <h3>Commets</h3>
                            
                            <div>
                                <%for(let j of i.comments){%>
                                    <p>commented by:<%= j.user.name%>&nbsp;Date:<%=j.updatedAt%></br>
                                    <%=j.content%></p>
                                <%}%>

                            </div>

                        </p>
                        <div class="post-comments">
                            <%if(locals.user){%>
                                <form action="/comments/create" method="POST">
                                    <input type="text" name="content" placeholder="Enter comments here">
                                    <input type="hidden" name="postId" value="<%=i._id%>">
                                    <input type="submit" value="Submit">
                                </form>
                            <%}%>
                        </div>
                    <%}%>   
                </div>

            </section>
        </div>
    </body>
</html>